@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: Rajdhani, serif;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.gallery {
    column-count: 3;
    column-width: 33%;
    padding: 0 10px;
}

.photoItems {
    transition: all 200ms ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    opacity:0;
    visibility: hidden;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease;

}
.modal.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.caption{
    display: block;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.modal-content {
    position:absolute;
    top:20px;
    bottom:20px;
}

.header{
    border: 1px solid black;
    margin: 1%;
}

/* Loader animation below */
.loader{
    text-align: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
